@import "tailwindcss";

@layer base {

  /* Universal CSS Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Basic HTML and Body Styles */
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
  }
}